body, html {
    height: 100%;
    color: rgb(39,163,228); /*Lighter blue from image (made slightly lighter)*/
    background-color: rgb(4,43,72); /* Dark blue from image*/
}

h1, span, p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 80px;
    width: 220px;
}

nav {
    display: inline-block;
    float: left;
    width: 15%;
}

nav ul {
    list-style: none;
    color: #C69214;
    font-size: 30px;
}

nav li {
    line-height: 50px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: #FC8900;
    text-decoration: none;
    position: relative;

}

nav a:hover {
    color: #F3E500;
}

nav a::before {
    content: "";
    height: 5px;
    background-color: #F3E500;
    position: absolute;
    width: 100%;
    bottom: 0;

    visibility: hidden;
    transform: scaleX(0);
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.bg-main {
    background-image: url("images/Geisel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.classrooms {
    height:200px;
    width:100%;
    overflow:hidden;
    overflow-y:scroll;
}

.content {
    float: right;
    width: 80%;
    margin: 30px;
    outline-style: dotted;
    outline-color: #F3E500;
    background-color: rgb(4,43,72);
    opacity: .9;

}

/*.both {
    outline-style: dotted;
}*/

.both li {
    list-style-type: none;
}

/*.student {
    outline-style: dotted;
}*/

/*.tutor {
    outline-style: dotted;
}*/

.fg-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.copyright {
    text-align: center;
    padding-top: 20px;
}
